{% extends 'base.html.twig' %}

{% block title %}Producteurs marché de Dompierre-sur-Mer{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron m-4">
            <h1 class="text-center m-5">Liste des producteurs du marché de Dompierre-sur-Mer</h1>
            <div class="container">
                <div class="row justify-content-center">
                    {% for producteur in producteurs %}
                        <div class="col-4" style="min-width: 250px">
                            <div class="card mb-4 box-shadow">
                                {% if producteur.filename %}
                                    <img src="/images/products/{{ producteur.filename }}"
                                         alt="image de {{ producteur.nom }}"
                                         style="height: 225px; width: 100%; display: block;"
                                         class="card-img-top " data-holder-rendered="true">
                                {% else %}
                                    <img class="card-img-top"
                                         data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                         alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                                         src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17169823eb0%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17169823eb0%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.828125%22%20y%3D%22118.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                         data-holder-rendered="true">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title text-center">
                                        <b>   {{ producteur.nom }} - {{ producteur.prenom }} </b>
                                    </h5>
                                    <hr>
                                    <p class="card-text ">
                                        {% if producteur.description %}
                                            {{ producteur.description }}
                                        {% endif %}
                                        <br>

                                    </p>
                                    <a href="{{ path('home_show',{'id':producteur.id}) }}" class="btn btn-primary m-1 text-center">

                                        Voir mes produits
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-4" style="min-width: 250px">
                        <div class="card mb-4 box-shadow">


                            <img class="card-img-top"
                                 data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                 alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                                 src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17169823eb0%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17169823eb0%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.828125%22%20y%3D%22118.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                 data-holder-rendered="true">

                            <div class="card-body">
                                <h5 class="card-title">
                                    <b> Olivier JEAN </b>
                                </h5>
                                <hr>
                                <p class="card-text">
                                    Commerçant de produits italiens <br>
                                    lien vers mon site internet <br>
                                    <a href="{{ path('home_jean') }}" class="btn btn-primary md-5">
                                        Voir mes produits
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4" style="min-width: 250px">
                        <div class="card mb-4 box-shadow">
                            <img src="/images/arbregourmand.jpg"
                                 alt="image de Cafés pascal"
                                 style="height: 225px; width: 100%; display: block;"
                                 class="card-img-top " data-holder-rendered="true">

                            <div class="card-body">
                                <h5 class="card-title">
                                    <b> L'arbre Gourmand </b>
                                </h5>
                                <hr>
                                <p class="card-text">
                                    Une envie de gourmandises pendant cette période particulière !!! <br>
                                    <a href="{{ path('home_arbregourmand') }}" class="btn btn-primary md-5">
                                        voir mes produits
                                    </a>
                                <hr>
                                N'hésitez pas à passer vos commandes soit par SMS au <b>06 82 15 85 34</b> ,
                                par mail à <a href="mailto:contact@larbregourmand.fr">contact@larbregourmand.fr</a> ou
                                par
                                Facebook L'arbre Gourmand.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Partie pasccal torréfacteur-->
                    <div class="col-4" style="min-width: 250px">
                        <div class="card mb-4 box-shadow">


                            <img src="/images/cafepascal.jpg"
                                 alt="image de Cafés pascal"
                                 style="height: 225px; width: 100%; display: block;"
                                 class="card-img-top " data-holder-rendered="true">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <b class="text-center"> Cafés Pascal </b>
                                </h5>
                                <hr>
                                <b class="text-center">Artisan Torréfacteur</b>
                                <br>
                                <p class="card-text">
                                    <a href="{{ path('home_pascal') }}" class="btn btn-primary ">
                                        Voir mes produits
                                    </a>
                                <hr>
                                Les commandes sont à passer de préférence par : <br>
                                <ol>
                                    <li>Tel/SMS : <b>06.89.97.04.59</b></li>
                                    <li>Courriel : <a href="mailto:cafespascal@orange.fr">cafespascal@orange.fr</a></li>
                                    <li>Facebook <a href="https://www.facebook.com/cafespascal/"> <img
                                                    src="/images/fb.png"
                                                    alt=""></a></li>
                                </ol>

                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Partie la cave à roues -->
                    <div class="col-4" style="min-width: 250px">
                        <div class="card mb-4 box-shadow">


                            <img src="/images/cave.jpg"
                                 alt="image de la cave à roues" style="height: 150px; width: 140px"
                                 class="m-auto ">

                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    <b> Eric Gomez </b>
                                </h5>
                                <p class="text-center"><b>La cave à roues</b></p>
                                <hr>
                                <p class="card-text">
                                    <a href="{{ path('home_cave') }}" class="btn btn-primary ">
                                        Voir mes produits
                                    </a>
                                <hr>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
