{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ produit.nom }}</td>
            </tr>
            <tr>
                <th>Unite</th>
                <td>{{ produit.unite }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ produit.filename }}</td>
            </tr>
            <tr>
                <th>date de Modification</th>
                <td>{{ produit.updatedAt ? produit.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('produit_index') }}" class="btn btn-secondary">retour</a>

    <a href="{{ path('produit_edit', {'id': produit.id}) }}" class="btn btn-primary mt-2">editer</a>

    {{ include('admin/produit/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
